body {
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/living room wallpaper.jpeg");
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 60%;
  height: 100vh;
  z-index: -1;
  animation: introLoad 2s forwards;
}

.logo {
  color: black;
  font-weight: bold;
}
.logo span {
  color: #c05d01;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  color: #66513E;
  padding: 0.8em 2em;
  display: block;
  font-size: 1rem;
}

.close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

header {
  display: flex;
  justify-content: space-between;
}
header svg {
  top: 0;
  right: 0;
  width: 2.3em;
  margin-top: 0.6em;
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  margin-top: 6em;
  line-height: 3.3rem;
}

section.hero {
  color: #000000;
  height: 65vh;
  width: 60%;
  animation: moveDown 1s ease-in-out forwards;
  opacity: 0;
}
section.hero .down-arrow {
  stroke: rgb(0, 0, 0);
  position: absolute;
  bottom: 2.3em;
  left: 2em;
  width: 1em;
  animation: moveArrow 1s alternate-reverse infinite;
}
section.hero .down-arrow path {
  fill: rgb(0, 0, 0);
}

.btn {
  background-color: transparent;
  color: #000000;
  font-weight: bold;
  border: 3px solid #211811;
  padding: 10px 25px;
  border-radius: 96px;
}
.btn:hover {
  background-color: #211811;
  color: wheat;
}

.more-designs {
  margin-top: 0.5em;
}
.more-designs a {
  bottom: 5em;
}
.more-designs .title {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.3em;
  text-align: center;
}
.more-designs .desc {
  font-size: 0.9em;
}

.listings {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1em;
  margin-bottom: 1em;
  border-radius: 10px;
}
.listings img {
  width: 9em;
  transition: transform 0.5s;
}
.listings a {
  font-size: 0.9em;
  color: black;
  text-align: center;
}
.listings p {
  text-align: center;
  margin-top: -0.1em;
}

.btn-2 {
  font-size: 1em;
  background-color: transparent;
  color: #211811;
  text-align: center;
  border: 2px solid #211811;
  padding: 5px 15px;
  border-radius: 96px;
  margin-left: 10em;
}
.btn-2:hover {
  background-color: #211811;
  color: white;
}

.more-about {
  margin-top: 5em;
}
.more-about img {
  display: none;
  width: 28em;
}
.more-about .title-1 {
  font-weight: bold;
  text-align: center;
}
.more-about .desc {
  font-size: 0.9em;
  line-height: 1.3em;
}

.inf-card {
  display: flex;
  gap: 3em;
}
.inf-card .title {
  font-size: 0.8em;
}
.inf-card .title-2 {
  font-size: 0.8em;
  margin-top: 0.7em;
  margin-left: 2em;
}

svg {
  margin-top: 0.4em;
  width: 2em;
  margin-left: 2em;
}

section.what-we-do {
  margin-top: 5em;
}
section.what-we-do .title {
  font-weight: bold;
}
section.what-we-do .desc {
  font-size: 0.9em;
  line-height: 1.3em;
}
section.what-we-do ul {
  list-style-type: circle;
  margin-left: -1em;
  font-size: 0.9em;
  line-height: 1.3em;
}
section.what-we-do img {
  border-radius: 1em;
}

img.deco-1 {
  width: 18.7em;
  height: 25em;
}

img.deco-2 {
  width: 10.5em;
  position: absolute;
  margin-top: 1em;
  margin-left: -2em;
}

img.deco-3 {
  width: 15em;
  height: 18em;
  position: absolute;
  margin-top: 21em;
  margin-left: -17em;
}

.green:hover,
.pink:hover,
.black:hover {
  background: #F2EACD;
  border-radius: 0.8em;
  background-size: 10em;
}
.green:hover img,
.pink:hover img,
.black:hover img {
  transform: translateY(-35px);
}
.green:hover a,
.pink:hover a,
.black:hover a {
  font-weight: 550;
}
.green:hover p,
.pink:hover p,
.black:hover p {
  font-weight: bold;
}

.open-nav {
  transform: translateX(0%);
}

@media only screen and (min-width: 650px) {
  .listings {
    gap: 5em;
  }
}
@media only screen and (min-width: 680px) {
  .listings {
    gap: 2em;
  }
  body {
    margin: 1.5em 5em;
    font-family: "poppins", sans-serif;
  }
}
@media only screen and (min-width: 786px) {
  .listings {
    gap: 5em;
  }
}
@media only screen and (min-width: 860px) {
  .listings {
    gap: 9em;
  }
}
@media only screen and (min-width: 920px) {
  .listings {
    gap: 2em;
  }
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
    margin-right: 5em;
  }
  nav ul a {
    color: #f6f5f5;
    padding: 0.5em 1.5em;
    font-size: 1rem;
  }
  nav ul a:active {
    text-decoration: underline;
    font-weight: 700;
  }
  nav ul a:hover {
    color: #211811;
    font-weight: 700;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 60%;
    height: 42em;
  }
  .logo span {
    color: #c05d01;
  }
  section.hero {
    color: #66513E;
    height: auto;
    width: 35%;
    margin-bottom: 8em;
  }
  section.hero .btn {
    color: #66513E;
    border-color: #66513E;
  }
  section.hero .btn:hover {
    color: #ffffff;
    background-color: #563013;
  }
  section.hero .down-arrow {
    left: -4em;
    bottom: -12em;
    stroke: rgb(74, 49, 20);
  }
  section.hero .down-arrow path {
    fill: #211811;
  }
  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 4em;
    margin-top: 2em;
  }
  .feature .listings {
    margin-top: 1em;
  }
  .more-about {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    width: 25;
  }
  .more-about img {
    display: inline;
  }
  .what-we-do {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 13em;
  }
  .what-we-do {
    grid-template-areas: "left right";
  }
  .what-we-do .left {
    grid-area: left;
  }
}
@media only screen and (min-width: 1000px) {
  .listings {
    gap: 5em;
  }
}
@media only screen and (min-width: 1180px) {
  .listings {
    gap: 7em;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }
  section.hero {
    width: 30%;
  }
}
@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */