body {
  margin: 1.5em;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/living\ room\ wallpaper.jpeg');
  background-size: cover;
  background-position-x: 20%;
  background-position-y: 20%;
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: introLoad 2s forwards;
}
.logo {
  color: black;
  font-weight: bold;

  span {
    color: #c05d01;
  }
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: rgb(245, 245, 245);
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;

    a {
      color: #66513e;
      padding: 0.8em 2em;
      display: block;
      font-size: 1rem;

      &:hover {
        background-color: #f2eacd;
      }
    }
  }
}

.close {
  float: right;
  margin: 2em;
  width: 2.5em;
}

header {
  display: flex;
  justify-content: space-between;

  svg {
    top: 0;
    right: 0;
    width: 2.3em;
    margin-top: 0.6em;
    cursor: pointer;
  }
}

h1 {
  font-size: 3rem;
  margin-top: 6em;
  line-height: 3.3rem;
}

section.hero {
  color: #000000;
  height: 50vh;
  width: 60%;
  animation: moveDown 1s ease-in-out forwards;
  opacity: 0;

  .down-arrow {
    stroke: rgb(0, 0, 0);
    position: absolute;
    bottom: 2.3em;
    left: 2em;
    width: 1em;
    animation: moveArrow 1s alternate-reverse infinite;

    path {
      fill: rgb(0, 0, 0);
    }
  }
}

.btn {
  background-color: transparent;
  color: #000000;
  font-weight: bold;
  border: 3px solid #211811;
  padding: 10px 25px;
  border-radius: 96px;

  &:hover {
    background-color: #211811;
    color: wheat;
  }
}

.more-designs {
  margin-top: 0.5em;

  a {
    bottom: 5em;
  }

  .title {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.3em;
    text-align: center;
  }

  .desc {
    font-size: 0.9em;
  }
}

.listings {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1em;
  margin-bottom: 1em;

  border-radius: 10px;

  img {
    width: 9em;
    transition: transform 0.5s;
  }

  a {
    font-size: 0.9em;
    color: black;
    text-align: center;
  }

  p {
    text-align: center;
    margin-top: -0.1em;
  }
}

.btn-2 {
  font-size: 1em;
  background-color: transparent;
  color: #211811;
  text-align: center;
  border: 2px solid #211811;
  padding: 5px 15px;
  border-radius: 96px;
  margin-left: 10em;

  &:hover {
    background-color: #211811;
    color: white;
  }
}

.more-about {
  margin-top: 5em;

  img {
    display: none;
    width: 28em;
  }

  .title-1 {
    font-weight: bold;
    text-align: center;
  }

  .desc {
    font-size: 0.9em;
    line-height: 1.3em;
  }
}

.inf-card {
  display: flex;
  gap: 3em;

  .title {
    font-size: 0.8em;
  }

  .title-2 {
    font-size: 0.8em;
    margin-top: 0.7em;
    margin-left: 2em;
  }
}

svg {
  margin-top: 0.4em;
  width: 2em;
  margin-left: 2em;
}

section.what-we-do {
  margin-top: 5em;

  .title {
    font-weight: bold;
  }

  .desc {
    font-size: 0.9em;
    line-height: 1.3em;
  }

  ul {
    list-style-type: circle;
    margin-left: -1em;
    font-size: 0.9em;
    line-height: 1.3em;
  }

  img {
    border-radius: 1em;
  }
}

img.deco-1 {
  width: 18.7em;
  height: 25em;
}

img.deco-2 {
  width: 10.5em;
  position: absolute;
  margin-top: 1em;
  margin-left: -2em;
}

img.deco-3 {
  width: 15em;
  height: 18em;
  position: absolute;
  margin-top: 21em;
  margin-left: -17em;
}

.green,
.pink,
.black {
  &:hover {
    background: #f2eacd;
    border-radius: 0.8em;
    background-size: 10em;

    img {
      transform: translateY(-35px);
    }

    a {
      font-weight: 550;
    }

    p {
      font-weight: bold;
    }
  }
}

.open-nav {
  transform: translateX(0%);
}

@media only screen and (min-width: 650px) {
  .listings {
    gap: 5em;
  }
}

@media only screen and (min-width: 680px) {
  .listings {
    gap: 2em;
  }

  body {
    margin: 1.5em 5em;
    font-family: 'poppins', sans-serif;
  }
}

@media only screen and (min-width: 786px) {
  .listings {
    gap: 5em;
  }
}

@media only screen and (min-width: 860px) {
  .listings {
    gap: 9em;
  }
}

@media only screen and (min-width: 920px) {
  .listings {
    gap: 2em;
  }

  .menu {
    display: none;
  }

  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;

    svg.close {
      display: none;
    }

    ul {
      display: flex;
      margin: 0;
      margin-right: 5em;

      a {
        color: #f6f5f5;
        padding: 0.5em 1.5em;
        font-size: 1rem;
      }

      a:active {
        text-decoration: underline;
        font-weight: 700;
      }

      a:hover {
        color: #211811;
        font-weight: 700;
      }
    }
  }

  .hero-img {
    left: unset;
    right: 0;
    width: 60%;
    height: 42em;
  }

  .logo {
    span {
      color: #c05d01;
    }
  }

  section.hero {
    color: #66513e;
    height: auto;
    width: 35%;
    margin-bottom: 8em;

    .btn {
      color: #66513e;
      border-color: #66513e;

      &:hover {
        color: #ffffff;
        background-color: #563013;
      }
    }

    .down-arrow {
      left: -4em;
      bottom: -12em;
      stroke: rgb(74, 49, 20);

      path {
        fill: #211811;
      }
    }
  }

  .feature {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 4em;
    margin-top: 2em;

    .listings {
      margin-top: 1em;
    }
  }

  .more-about {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    width: 25;

    img {
      display: inline;
    }
  }

  .what-we-do {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 13em;
  }

  .what-we-do {
    grid-template-areas: 'left right';

    .left {
      grid-area: left;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .listings {
    gap: 5em;
  }
}

@media only screen and (min-width: 1180px) {
  .listings {
    gap: 7em;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  section.hero {
    width: 30%;
  }
}

@keyframes introLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes moveArrow {
  from {
    transform: translateY(-30px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
